
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Sign in</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        <%= form_tag sessions_path do %>
          <div class="input-field col s12">
            <%= label_tag :username %>
            <%= text_field_tag :username %>
          </div>
          <div class="input-field col s12">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="row center">
            <%= submit_tag 'Log in', class: "btn-large waves-effect waves-light orange" %>
          </div>
        <% end %>
        <br><br>
      </h5>

    </div>
  </div>
</div>
