<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <!-- <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Sign in', new_session_path  %></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to 'Sign in', new_session_path  %></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Log in</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        <%= form_tag sessions_path do %>
          <p>
            <%= label_tag :username %>
            <%= text_field_tag :username %>
          </p>
          <p>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </p>
      </h5>
      <div class="row center">
        <%= submit_tag 'Log in', class: "btn-large waves-effect waves-light orange" %>
      </div>
      <br><br>
      <% end %>
    </div>
  </div>
</div>
