
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Register</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        <%= form_for @users, html: {class: "new_user col s12"} do |f| %>
          <div class="input-field col s12">
            <%= f.label :username %>
            <%= f.text_field :username %>
          </div>
          <div class="input-field col s12">
            <%= f.label :email %>
            <%= f.password_field :email %>
          </div>
          <div class="input-field col s12">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="input-field col s12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div><br><br>
          <div class="row center">
            <%= f.submit "Create User", class: "btn-large waves-effect waves-light orange" %>
            <!-- <%= f.button "Create User", class: "btn-large orange" %> -->
          </div>
        <% end %>
      </h5>
    </div>
  </div>
</div>
