
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Register</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        <%= form_for @user, html: {class: "new_user col s12"} do |f| %>
          <div class="input-field col s12">
            <%= f.label :username %>
            <%= f.text_field :username %>
          </div>
          <div class="input-field col s12">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="input-field col s12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
      </h5>
      <div class="row center">
        <%= f.submit class: "btn-large waves-effect waves-light orange" %>
      </div>
      <br><br>
      <% end %>
    </div>
  </div>
</div>
