<%= form_for @sensor, html: {class: "col s12"}  do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="input-field col s12">
    <%= f.label :Kind_of_Sensor %>
    <br>
    <%= f.select :kind, [['Temperature', 'temperature'], ['Ultrasound', 'ultrasound']], prompt: 'Please Select' %>
  </div>
  <!-- In Sensor model, this is called kind -->
  <div class="input-field col s12">
    <%= f.label :sensor_unit %>
    <br>
    <%= f.select :kind, [['Celcius', 'celcius'], ['Fahrenheit', 'fahrenheit'], ['Centimeter', 'centimeter'], ['Inches', 'inches'], ['Feet', 'feet']], prompt: 'Please Select' %>
  </div>

  <div class="input-field col s12">
    <!-- Switch -->
    <div id="public-switch" class="switch">
      <label>
        Private
        <input name="sensor[public]" type="checkbox">
        <span class="lever"></span>
        Public
      </label>
    </div>
  </div>

  <div class="input-field col s12">
    <select name="sensor[type_of_graph]">
      <option value="" disabled selected>Choose your option</option>
      <option value="0">Line Graph</option>
      <option value="1">Bar Graph</option>
      <option value="2">Binary Graph</option>
    </select>
    <label>Type of Graph</label>
  </div>

  <div class="input-field col s12">
    <%= f.label :type_of_graph %>
    <br>
    <%= f.select :kind, [['Line Graph', 'line_graph'], ['Bar Graph', 'bar_graph'], ['Binary Graph', 'binary_graph']], prompt: 'Please Select' %>
  </div>

  <div class="actions">

    <%= f.submit class: "btn-large waves-effect waves-light orange" %>

  </div>
<% end %>
