<%= form_for @sensor, html: {class: "col s12"}  do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <!-- In Sensor model, this is called kind -->
  <div class="input-field col s12">
    <%= f.label "Type of Sensor" %>
    <br>
    <%= f.select :kind, Sensor.kinds, selected: Sensor.kinds[@sensor.kind] %>
  </div>

  <div class="input-field col s12">
    <%= f.label :sensor_unit %>
    <br>
    <%= f.select :unit, Sensor.units, selected: Sensor.units[@sensor.unit] %>
  </div>

  <div class="input-field col s12">
    <% if @sensor.public %>
      <!-- Switch -->
      <div id="public-switch" class="switch">
        <label>
          Private
          <input name="sensor[public]" type="checkbox" checked>
          <span class="lever"></span>
          Public
        </label>
      </div>
    <% else %>
    <!-- Switch -->
      <div id="public-switch" class="switch">
        <label>
          Private
          <input name="sensor[public]" type="checkbox">
          <span class="lever"></span>
          Public
        </label>
      </div>
    <% end %>
  <div>

  <div class="input-field col s12">
    <%= f.label "Type of Graph" %>
    <br>
    <%= f.select :type_of_graph, @type_of_graphs, selected: Sensor.type_of_graphs[@sensor.type_of_graph] %>
  </div>

  <div class="input-field col l6 s12">
    <%= f.label "Notification" %>
    <br>
    <%= f.select :notification, @notifications, selected: Sensor.notifications[@sensor.notification] %>
  </div>

  <div class="input-field col l6 s12">
    <%= f.label "Threshold value for notifications" %><br>
    <%= f.number_field :notification_value %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn-large waves-effect waves-light orange" %>
    <br><br>
    <%= link_to 'Cancel', sensors_path %>
  </div>
<% end %>
