<%= form_for @sensor, html: {class: "col s12"}  do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <!-- In Sensor model, this is called kind -->
  <div class="input-field col s12">
    <select name = "sensor[kind]">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Temperature</option>
      <option value="2">Ultrasound</option>
      <option value="3">Motion</option>
    </select>
    <label>Type of Sensor</label>
  </div>

<!-- This is an example of a select helper tag -->
<!-- select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Person'}) -->
  <div class="input-field col s12">
    <select name = "sensor[unit]">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Celsius</option>
      <option value="2">Fahrenheit</option>
      <option value="3">Feet</option>
      <option value="4">Inches</option>
      <option value="5">Centimeter</option>
    </select>
    <label>Sensor unit</label>
  </div>

  <div class="input-field col s12">
    <!-- Switch -->
    <div id="public-switch" class="switch">
      <label>
        Public
        <input type="checkbox">
        <span class="lever"></span>
        Private
      </label>
    </div>
  </div>

  <div class="input-field col s12">
    <select name="sensor[type_of_graph]">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Bar Graph</option>
      <option value="2">Line Graph</option>
      <option value="3">Binary Graph</option>
    </select>
    <label>Type of Graph</label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
