<!-- <p id="notice"><%= notice %></p> -->

<% if flash[:notice] %>
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel teal">
        <span class="white-text"><%= flash[:notice] %>
        </span>
      </div>
    </div>
  </div>
<% end %>



<h1>Sensor Data</h1>

<div class="code-box">
  <h6>Your API Key: <%= api_key %><i
    class="tiny material-icons tooltipped"
    data-tooltip="Your private API key is used
                  to authenticate you. Use it
                  on your device every
                  time it sends data.">info_outline</i></h6>
</div>

<table class="striped" class="responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sensor</th>
      <th>Unit</th>
      <th>Kind</th>
      <th>Graph Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.sort.each do |sensor| %>
      <tr>
        <td><%= sensor.id %></td>
        <td><%= sensor.name %></td>
        <td><%= sensor.unit %></td>
        <td><%= sensor.kind %></td>
        <td><%= sensor.type_of_graph.humanize %></td>
        <td class="button-rows"><%= button_to 'Show', sensor, :method => "get", class: "btn-large waves-effect waves-light orange" %></td>
        <td class="button-rows"><%= button_to 'Edit', edit_sensor_path(sensor), :method => "get", class: "btn-large waves-effect waves-light orange" %></td>
        <td><%= button_to 'Delete',
                sensor, method: :delete, class: "btn-large waves-effect waves-light orange" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Sensor', new_sensor_path, :method => "get", class: "btn-large waves-effect waves-light orange"  %>
