
<p id="notice"><%= notice %></p>



<p>
  <strong>Sensor: </strong>
  <%= @sensor.name %>
</p>



<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>




  <!-- Bar Chart -->
<div class="row">
  <div class="col-xs-6">
    <h3>Sensor Data</h3>
    <%= line_chart @hash %>
  </div>
</div>
